@model IEnumerable<UVEMS.DAL.Models.EventDetails>

<div class="hero fade-in text-center">

    <h1>Welcome to <span>UVEMS</span></h1>

    <p class="text-white">
        Discover events, join sessions, and build your professional network.
    </p>

    <div class="mt-4">

        <a href="/Participant/EventList" class="btn btn-custom me-2">
            Explore Events
        </a>

        <a href="/Common/Register" class="btn btn-gradient">
            Get Started
        </a>

    </div>

</div>

<h3 class="text-center text-gradient mt-5 mb-4">
    <i class="fa-solid fa-calendar-days"></i> Upcoming Events
</h3>

<div class="row g-4">

    @foreach (var e in Model)
    {
        <div class="col-md-4">
            <div class="event-card">

                <h4 class="text-white">@e.EventName</h4>

                <p class="text-white">
                    <i class="fa fa-tag text-info"></i> @e.EventCategory
                </p>

                <p class="text-white">
                    <i class="fa fa-calendar text-warning"></i> @e.EventDate.ToShortDateString()
                </p>

                <div class="d-flex justify-content-between mt-3">

                    <a href="/Participant/Sessions?eventId=@e.EventId"
                       class="btn btn-gradient btn-sm">
                        View Sessions
                    </a>

                    <a href="/Participant/Register?eventId=@e.EventId"
                       class="btn btn-custom btn-sm">
                        Join
                    </a>

                </div>

            </div>
        </div>
    }

</div>